@charset "utf-8";
.post {
  cursor: pointer;
}
.post-interview {
  display: none;
}
.post.active {
  display: none;
}
.post img {
  width: 92%;
  height: 55vw;
  margin: 10px auto;
  object-fit: cover;
}
